<div class="col-md-3 wrapper" style="position:relative">
  <div *ngIf = "showSpiner" class="sabmit-page">
    <div class="spiner-wrap">
        <i class="fa fa-spinner fa-spin" style="font-size: 60px; color: white;"></i>
        <i class="fa fa-spinner fa-spin small-spiner" style=""></i>
    </div>
  </div>
  <div *ngIf = "sabmitPage" class="sabmit-page">
    <div class="text-sabmit">
      Подтверждаете публикацию вакансии?
    </div>
    <button class="btn-sabmit-page " (click)="create()">
      Да
    </button>
    <button class="btn-cancel btn-sabmit-page" (click)="sabmitPage = !sabmitPage">
      Отменить
    </button>
  </div>
  <div class="row">
    <div class="col-md-12 header">
      <p>Кого вы ищите ?</p>
      <button (click)="sabmitPage = !sabmitPage" class="submit">
        Разместить
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 info">
      <div class="row">
        <div class="col-md-3">
          <img *ngIf="profile && !profile.avatar_url" src="./assets/avatar.png" alt="">
          <img *ngIf="profile && profile.avatar_url" class="avatar" [src]="profile.avatar_url" alt="">
        </div>
        <div class="col-md-9">
          <p style="font-weight: bold;" *ngIf="profile && profile.name">{{profile.name}}</p>
          <div class="dropdawn-wrap">
            <button (click)="showDropdawnLeft = !showDropdawnLeft" class="btn-left-sidebar" [ngClass] = "{'active-btn': showDropdawnLeft}" >
               <span *ngIf="+advert.vacancy.hiring_type === 0">
                 Полный рабочий день
               </span>
              <span *ngIf="+advert.vacancy.hiring_type === 1">
                 Частичная занятость
               </span>
              <span *ngIf="+advert.vacancy.hiring_type === 2">
                 Контракт
               </span>
              <span *ngIf="+advert.vacancy.hiring_type === 3">
                 Одноразовы проект
               </span>
               <i class="fa fa-angle-down"></i>
             </button>
             <div *ngIf = "showDropdawnLeft" class="dropdawn-btn">
                 <ul>
                   <li (click)="advert.vacancy.hiring_type = 0;showDropdawnLeft = false"><a>Полный рабочий день</a></li>
                   <li (click)="advert.vacancy.hiring_type = 1;showDropdawnLeft = false"><a>Частичная занятость</a></li>
                   <li (click)="advert.vacancy.hiring_type = 2;showDropdawnLeft = false"><a>Контракт</a></li>
                   <li (click)="advert.vacancy.hiring_type = 3;showDropdawnLeft = false"><a>Одноразовы проект</a></li>
                 </ul>
             </div>
         </div>
          <!-- <select [(ngModel)]='advert.vacancy.hiring_type'>
            <option value="0">FULL TIME</option>
            <option value="1">PART_TIME </option>
            <option value="2">CONTRACT  </option>
            <option value="3">ONE_TIME  </option>
          </select> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 info-vacans">
      <div class="photo col-md-12">
        <p>Перетяните сюда фото</p>
      </div>
      <textarea [(ngModel)]='advert.description' [ngClass]="{'showError': showError}"
                placeholder="Опишите какой специалист вам нужен и для чего, сколько готовы платить, включено ли проживание, готовы липомочь с документами?"
                rows="5" cols="30">
      </textarea>
    </div>
    <!--<div class="col-md-12 colors">-->
      <!--<div class="middle">-->
        <!--<label (click)="advert.vacancy.background_resource_id = 'pink'">-->
          <!--<input type="radio" name="radio" [checked]="advert.vacancy.background_resource_id === 'pink'"/>-->
          <!--<div class="my1 box">-->

          <!--</div>-->
        <!--</label>-->

        <!--<label (click)="advert.vacancy.background_resource_id = 'purple'">-->
          <!--<input type="radio" name="radio" [checked]="advert.vacancy.background_resource_id === 'purple'"/>-->
          <!--<div class="my2 box">-->

          <!--</div>-->
        <!--</label>-->
        <!--<label (click)="advert.vacancy.background_resource_id = 'blue'">-->
          <!--<input type="radio" name="radio" [checked]="advert.vacancy.background_resource_id === 'blue'"/>-->
          <!--<div class="my3 box">-->

          <!--</div>-->
        <!--</label>-->
        <!--<label (click)="advert.vacancy.background_resource_id = 'green'">-->
          <!--<input type="radio" name="radio" [checked]="advert.vacancy.background_resource_id === 'green'"/>-->
          <!--<div class="my4 box">-->

          <!--</div>-->
        <!--</label>-->
        <!--<label (click)="advert.vacancy.background_resource_id = 'yelow'">-->
          <!--<input type="radio" name="radio" [checked]="advert.vacancy.background_resource_id === 'yelow'"/>-->
          <!--<div class="my5 box">-->

          <!--</div>-->
        <!--</label>-->
        <!--<label (click)="advert.vacancy.background_resource_id = 'darkslateblue'">-->
          <!--<input type="radio" name="radio" [checked]="advert.vacancy.background_resource_id === 'darkslateblue'"/>-->
          <!--<div class="my6 box">-->

          <!--</div>-->
        <!--</label>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="row">
    <div class="col-md-12 footer">
      <p>
        <i class="fa fa-hashtag" aria-hidden="true"></i>
        <input type="text" placeholder="Введите хеш-теги..." [(ngModel)]='teg'>
      </p>
      <div class="dropper-dawn">
        <i style="margin-right: 13px;font-size: 25px;vertical-align: middle" class="fa fa-map-marker" aria-hidden="true"></i>
        <button (click)="showDropdawnB = !showDropdawnB" class="btn-sidebar" [ngClass] = "{'active-btn': showDropdawnB}">
          <span>{{ advert.location }}</span>
          <i class="fa fa-angle-down"></i>
          <div *ngIf = "showDropdawnB" class="dropdawn-btn">
            <ul>
              <li (click)="selectLocation('Польша')"><a>Польша</a></li>
              <li (click)="selectLocation('Украина')"><a>Украина</a></li>
            </ul>
          </div>
        </button>
      </div>
      <button *ngIf = "!sabmitPage" (click)="showModal()">Добавить вакансию</button>
    </div>
  </div>
</div>
