<div class="col-md-4 wrapper">
  <div class="row">
    <div class="col-md-12 header">
      <p>Кого вы ищите ?</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 info">
      <div class="row">
        <div class="col-md-4">
          <img src="../../../../assets/avatar.png" alt="">
        </div>
        <div class="col-md-8">
          <p>Тарас Подгорецкий</p>
          <select>
            <option>Пункт 1</option>
            <option>Пункт 2</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 info-vacans">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ipsum nobis quam quidem, sunt tempore temporibus vel veniam. Consequuntur dolores ducimus et id modi mollitia nesciunt non nulla recusandae, veniam?</p>
    </div>
    <div class="col-md-12 colors">
      <div class="middle">
        <label>
          <input type="radio" name="radio" checked/>
          <div class="my1 box">

          </div>
        </label>

        <label>
          <input type="radio" name="radio"/>
          <div class="my2 box">

          </div>
        </label>
        <label>
          <input type="radio" name="radio"/>
          <div class="my3 box">

          </div>
        </label>
        <label>
          <input type="radio" name="radio"/>
          <div class="my4 box">

          </div>
        </label>
        <label>
          <input type="radio" name="radio"/>
          <div class="my5 box">

          </div>
        </label>
        <label>
          <input type="radio" name="radio"/>
          <div class="my6 box">

          </div>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 footer">
      <p>
        <i class="fa fa-hashtag" aria-hidden="true"></i>
        <input type="text" placeholder="Введите хеш-теги...">
      </p>
      <p>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Краков, Польща.
      </p>
      <button>Разместить</button>
    </div>
  </div>
</div>
