.wrapper
  border-right: 2px solid #E3E3E5
  background-color: #ffffff
  height: calc(100vh - 78px)
  .header
    background-color: #ffffff
    color: black
    font-weight: bold
    display: flex
    justify-content: space-between
    button
      border: none
      outline: none
      background: none

    p
      margin: 0
      padding: 20px
  .info
    margin-top: 10px
    img
      width: 100%
      border-radius: 50%
    select
      width: 100%
      height: 30px
  .info-vacans
    .photo
      margin-top: 15px
      height: 180px
      border: 3px dotted #9d9ea4
      border-radius: 25px
      text-align: center
      color: #9d9ea4
      font-weight: bold
      padding-top: 63px
      p
        padding: 0 70px
        font-size: 16px
    margin-top: 10px
    textarea
      resize: none
      width: 100%
      border-radius: 10px
      margin-top: 10px
      border-color: #9d9ea4
      padding: 20px
      outline: none


.middle
  width: 100%
  text-align: center
  margin-top: 20px
  border-bottom: 2px solid #E3E3E5
  h1
    font-family: 'Dax', sans-serif
    color: #fff
  input[type="radio"]
    display: none
    &:checked + .box
      border-bottom: 2px solid red
      padding-bottom: 5px
      display: block
      span
        color: white
        transform: translateY(70px)
        &:before
          transform: translateY(0px)
          opacity: 1
  .my1
    background-color: pink
  .my2
    background-color: purple
  .my3
    background-color: blue
  .my4
    background-color: greenyellow
  .my5
    background-color: yellow
  .my6
    background-color: darkslateblue
  .box
    width: 50px
    height: 50px
    transition: all 250ms ease
    will-change: transition
    display: inline-block
    text-align: center
    cursor: pointer
    position: relative
    font-family: 'Dax', sans-serif
    font-weight: 900
    &:active
      transform: translateY(10px)

.footer
  border-top: 1px solid #98a0af
  padding: 0
  p
    padding: 10px 10px 0 10px
    margin-bottom: 0
    i
      margin-right: 10px
      font-size: 20px
  input
    background-color: transparent
    outline: none
    padding: 10px
    width: 85%
    border-radius: 20px
    border: 1px solid  #98a0af
    &::placeholder
      color: #9d9ea4
  button
    &:nth-child(3)
      padding: 30px 20px
      text-align: center
      background-color: rgb(85, 133, 254)
      width: 101%
      margin-top: 21px
      font-size: 20px
      color: white
      outline: none
      border: none
      &:active
        background-color: #1277f9

.dropdawn-wrap
  position: relative
.btn-left-sidebar
  border: 1px solid rgb(232, 235, 241)
  background: none
  outline: none
  border-radius: 20px
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding: 8px
  padding-left: 20px
  padding-right: 20px
  color: rgba(111, 115, 117, 1)
  font-size: 13PX
  font-weight: bold
  i
    transition: all 0.2s
    font-size: 16px
    position: relative
    top: -2px
.active-btn
  border-radius: 20px 20px 0 0
  i
    transform: rotate(180deg)
.dropdawn-btn
  background: white
  width: 100%
  position: absolute
  top: 36px
  z-index: 1000
  border-radius: 0 0 20px 20px
  overflow: hidden
  -webkit-box-shadow: 2px 6px 17px -5px rgba(0,0,0,0.75)
  -moz-box-shadow: 2px 6px 17px -5px rgba(0,0,0,0.75)
  box-shadow: 2px 6px 17px -5px rgba(0,0,0,0.75)
  border: 1px solid rgb(232, 235, 241)
  border-top: 0
  ul
    list-style: none
    padding: 0
    margin: 0
    li
      padding: 0
      margin: 0
      a
        width: 100%
        display: block
        color: rgba(111, 115, 117, 1)
        text-decoration: none
        padding: 7px
        padding-left: 20px
      a:hover
        background: #f1f1f1

input::-webkit-input-placeholder
  color: rgba(157, 169, 154, 1)
  font-weight: bold
input::-moz-placeholder
  font-weight: bold
  color: rgba(157, 169, 154, 1)
input:-ms-input-placeholder
  font-weight: bold
  color: rgba(157, 169, 154, 1)
input:-moz-placeholder
  font-weight: bold
  color: rgba(157, 169, 154, 1)

  // Vacans page
.sabmit-page
  position: fixed
  width: calc(25% + 2px)
  background: rgba(12, 7, 49, 0.57)
  z-index: 10000
  margin-left: -15px
  top: 0
  //height: calc(100vh - 78px)
  height: 100.1%
  margin-top: -1px
  display: flex
  flex-flow: column
  align-items: center
  justify-content: center
  .text-sabmit
    color: white
    font-weight: bold
    font-size: 15px
    margin-bottom: 25px
    width: 80%
    text-align: center
  .btn-sabmit-page
    margin-bottom: 13px
    background: rgb(85, 132, 255)
    border: none
    outline: none
    width: 120px
    border-radius: 20px
    color: white
    font-size: 16px
    font-weight: bold
    height: 40px
    box-shadow: 0px 2px 11px 0px #080808
  .btn-cancel
    background: rgb(248, 60, 123)
.small-spiner
  position: absolute
  top: 20px
  right: 20px
  color: white
  font-size: 25px

@media screen and ( min-height: 813px )
  .info-vacans
    .photo
      height: 20vh!important
    textarea
      height: 20vh
      &::placeholder
        color: #9d9ea4
  // .footer
  //   position: absolute
  //   bottom: 0
@media screen and ( min-height: 913px )
  .info-vacans
    textarea
      margin-top: 15%!important

@media (max-height: 786px)
  .wrapper
    height: 100%
@media (min-height: 600px)
  .wrapper
    display: flex
    flex-flow: column
    justify-content: space-between
.dropper-dawn
  position: relative
  width: 100%
  display: inline-block
  padding: 10px 10px 0 10px
  .btn-sidebar
    background: none
    outline: none
    width: 85%
    justify-content: space-between
    align-items: center
    color: rgba(111, 115, 117, 1)
    font-size: 13PX
    display: inline-block
    background-color: transparent
    padding: 10px
    border-radius: 20px
    border: 1px solid #98a0af
    color: #9d9ea4
    height: 42px
    text-align: left
    i
      transition: all 0.2s
      font-size: 16px
      position: relative
      float: right
  .active-btn
    background-color: #fff
    border-radius: 20px 20px 0 0
    width: 87%
    i
      transform: rotate(180deg)
  .dropdawn-btn
    background: white
    width: 83.5%
    position: absolute
    top: 52px
    left: 41px
    z-index: 1000
    border-radius: 0 0 20px 20px
    overflow: hidden
    -webkit-box-shadow: 2px 6px 17px -5px rgba(0,0,0,0.75)
    -moz-box-shadow: 2px 6px 17px -5px rgba(0,0,0,0.75)
    box-shadow: 2px 6px 17px -5px rgba(0,0,0,0.75)
    border: 1px solid rgb(232, 235, 241)
    border-top: 0

    ul
      list-style: none
      padding: 0
      margin: 0
      text-align: left
      li
        padding: 0
        margin: 0
        color: #9d9ea4
        a
          width: 100%
          display: block
          color: rgba(111, 115, 117, 1)
          text-decoration: none
          padding: 7px
          padding-left: 20px
          span
            font-weight: bolder
            width: 30px
            color: black
            text-align: right
            display: inline-block
        a:hover
          background: #f1f1f1
