<div class="col-md-4 wrapper">
  <div class="row">
    <div class="col-md-12 header">
      <p>Кого вы ищите ?</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 info">
      <div class="row">
        <div class="col-md-4">
          <img src="../../../../assets/avatar.png" alt="">
        </div>
        <div class="col-md-8">
          <p style="font-weight: bold;">Тарас Подгорецкий</p>
          <select [(ngModel)]='advert.vacancy.work_type'>
            <option value="0">FULL TIME</option>
            <option value="1">PART_TIME </option>
            <option value="2">CONTRACT  </option>
            <option value="3">ONE_TIME  </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 info-vacans">
      <textarea [(ngModel)]='advert.description' rows="8" cols="30"></textarea>
    </div>
    <div class="col-md-12 colors">
      <div class="middle">
        <label (click)="advert.vacancy.background_resource_id = 'pink'">
          <input type="radio" name="radio" [checked]="advert.vacancy.background_resource_id === 'pink'"/>
          <div class="my1 box">

          </div>
        </label>

        <label (click)="advert.vacancy.background_resource_id = 'purple'">
          <input type="radio" name="radio" [checked]="advert.vacancy.background_resource_id === 'purple'"/>
          <div class="my2 box">

          </div>
        </label>
        <label (click)="advert.vacancy.background_resource_id = 'blue'">
          <input type="radio" name="radio" [checked]="advert.vacancy.background_resource_id === 'blue'"/>
          <div class="my3 box">

          </div>
        </label>
        <label (click)="advert.vacancy.background_resource_id = 'green'">
          <input type="radio" name="radio" [checked]="advert.vacancy.background_resource_id === 'green'"/>
          <div class="my4 box">

          </div>
        </label>
        <label (click)="advert.vacancy.background_resource_id = 'yelow'">
          <input type="radio" name="radio" [checked]="advert.vacancy.background_resource_id === 'yelow'"/>
          <div class="my5 box">

          </div>
        </label>
        <label (click)="advert.vacancy.background_resource_id = 'darkslateblue'">
          <input type="radio" name="radio" [checked]="advert.vacancy.background_resource_id === 'darkslateblue'"/>
          <div class="my6 box">

          </div>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 footer">
      <p>
        <i class="fa fa-hashtag" aria-hidden="true"></i>
        <input type="text" placeholder="Введите хеш-теги..." [(ngModel)]='teg'>
      </p>
      <p>
        <i class="fa fa-map-marker" style="margin-right: 14px;" aria-hidden="true"></i>
        <input type="text" placeholder="Введите локацию..." [(ngModel)]='advert.location'>
      </p>
      <button (click)="create()">Разместить</button>
    </div>
  </div>
</div>
