<!-- <div class="container-fluid wrapper">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 login">
        <h2>Log In Using Your Mobile</h2>
        <div class="content-get-code" *ngIf="getCodeShow">
          <form [formGroup]="loginForm">
            <label for="phone">Please enter your phone number to receive the code:</label>
            <input pattern="[0-9]*" formControlName="phoneNumber" id="phone"  type="tel" [(ngModel)]="phone" >
            <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid" (click)="GetCode()">Get Code</button>
          </form>
        </div>
        <div class="content-get-code" *ngIf="acceptCodeShow">
          <form [formGroup]="codeForm">
            <label for="code">Enter code from SMS:</label>
            <input formControlName="code" id="code" style="text-align: center;"  type="text" [(ngModel)]="code">
            <button class="btn btn-primary" (click)="CheckCode()" [disabled]="codeForm.invalid">Accept Code</button>
          </form>
        </div>
        <div class="register-user" *ngIf="registerShow" >
          <form [formGroup]="nameForm">
            <div class="form-group">
              <label style="margin-top: 20px;" for="name">Name:</label>
              <input formControlName="name"  id="name" style="text-align: center;"  type="text" [(ngModel)]="name">
            </div>
            <button class="btn btn-primary" (click)="reg()" [disabled]="codeForm.invalid">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container-fluid wrapper">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 login-form">
      <div class="row">
        <div class="col-md-12 login-header">
          <div class="col-md-3">
            <img src="../../assets/logo.png" alt="Logo">
          </div>
          <div class="col-md-9" style="padding: 0;">
            <span class="pull-right" [ngClass]="{'span-active': getCodeShow || acceptCodeShow}">Login</span>
            <span class="pull-right" [ngClass]="{'span-active': registerShow}">Register</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 login-body">
          <p>Welcome <span *ngIf="!registerShow">back!</span></p>
          <div *ngIf="getCodeShow || acceptCodeShow" class="col-md-12 ">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <input type="text" placeholder="Mobile phone" [(ngModel)]="phone" >
          </div>
          <div *ngIf="getCodeShow || acceptCodeShow" class="col-md-12 input-row">
            <i class="material-icons">lock_outline</i>
            <!-- <i class="fa fa-lock" aria-hidden="true"></i> -->
            <input type="text" placeholder="Code from sms" [(ngModel)]="code">
          </div>
          <div *ngIf="registerShow" class="col-md-12 input-row">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input type="text" placeholder="Name" [(ngModel)]="name">
          </div>
          <div class="row">
            <div class="col-md-12">
              <button *ngIf="getCodeShow" (click)="GetCode()">
                Enter
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
              <button *ngIf="acceptCodeShow" (click)="CheckCode()">
                Enter
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
              <button *ngIf="registerShow" (click)="reg()">
                Enter
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
