<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 wrapper">
      <div class="col-md-2">
        <img *ngIf="name.value && !profile.avatar_url" src="./assets/avatar.png" alt="" style="max-width: 200px;">
        <img *ngIf="profile.avatar_url" [src]="profile.avatar_url" alt="" style="max-width: 200px;border-radius: 50%">
      </div>
      <div class="col-md-10 info">
        <p *ngIf="name.value || editable">
          <span>Имя компании:</span>
          <span *ngIf="!editable">{{ name.value }}</span>
          <span *ngIf="editable">
            <input class="form-control" type="text" [formControl]="name">
          </span>
        </p>
        <p *ngIf="bday.value || editable">
          <span>Дата рождения:</span>
          <span *ngIf="!editable">{{ bday.value | date}}</span>
          <span *ngIf="editable">
            <input class="form-control" type="date" [formControl]="bday">
          </span>
        </p>
        <p *ngIf="avatar_url.value || editable">
          <span>Url icon:</span>
          <span *ngIf="!editable">{{ avatar_url.value }}</span>
          <span *ngIf="editable">
            <input class="form-control" type="text" [formControl]="avatar_url">
          </span>
        </p>
        <p *ngIf="country.value || editable">
          <span>Страна:</span>
          <span *ngIf="!editable">{{ country.value }}</span>
          <span *ngIf="editable">
            <input class="form-control" type="text" [formControl]="country">
          </span>
        </p>
        <p *ngIf="education.value || editable">
          <span>Образование:</span>
          <span *ngIf="!editable">{{ education.value }}</span>
          <span *ngIf="editable">
            <input class="form-control" type="text" [formControl]="education">
          </span>
        </p>
        <div *ngIf="skillsList.length || editable" class="skills">
          <span style="padding-top: 22px">Навыки:</span>
          <input *ngIf="editable" type="text" class="form-control" (keyup.enter)="addSkill()"  placeholder="Add your skill..." [formControl]="skills" >
          <ol>
            <li *ngFor="let skill of skillsList;let i = index">
              {{ skill }}
              <i *ngIf="editable" class="fa fa-times-circle" (click)="deleteSkill(i)" aria-hidden="true"></i>
            </li>
          </ol>
          <button *ngIf="editable" (click)="addSkill()">Add skill</button>
        </div>


      </div>
      <div class="col-md-12 controls">
        <button *ngIf="!editable" (click)="edit()">Edit Profile</button>
        <button *ngIf="editable" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
