<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 wrapper">
      <div class="col-md-2">
        <img *ngIf="name.value && !profile.avatar_url" src="./assets/avatar.png" alt="" style="max-width: 200px;border-radius: 50%">
        <img *ngIf="profile.avatar_url" [src]="profile.avatar_url" alt="" style="max-width: 200px;border-radius: 50%">
      </div>
      <div class="col-md-10 info">
        <p *ngIf="name.value || editable">
          <span>Имя компании:</span>
          <span *ngIf="!editable">{{ name.value }}</span>
          <span *ngIf="editable">
            <input class="form-control" type="text" [formControl]="name">
          </span>
        </p>
        <p *ngIf="bday.value || editable">
          <span>Дата рождения:</span>
          <span *ngIf="!editable">{{ bday.value | date}}</span>
          <span *ngIf="editable">
            <input class="form-control" type="date" [formControl]="bday"  value="2013-01-08">
          </span>
        </p>
        <p *ngIf="avatar_url.value || editable">
          <span>Url icon:</span>
          <span *ngIf="!editable">{{ avatar_url.value }}</span>
          <span *ngIf="editable">
            <input class="form-control" type="text" [formControl]="avatar_url">
          </span>
        </p>
        <div *ngIf="country.value || editable">
          <span class="tittle">Страна:</span>
          <div class="dropper-dawn">
            <button (click)="AdClick()" class="btn-left-sidebar" [ngClass] = "{'active-btn': showDropdawnA && editable}">
              <span>{{ tag[selectedCountry]  }} {{ selectedCountry  }}</span>
              <i class="fa fa-angle-down"></i>
              <div *ngIf = "showDropdawnA && editable" class="dropdawn-btn">
                <ul>
                  <li *ngFor="let country of countries;let i = index" (click)="selectCountry(country.country)"><a> <span>{{country.tag }}</span> {{ country.country }}</a></li>
                </ul>
              </div>
            </button>
          </div>
        </div>
        <!--<p *ngIf="education.value || editable">-->
          <!--<span>Образование:</span>-->
          <!--<span *ngIf="!editable">{{ education.value }}</span>-->
          <!--<span *ngIf="editable">-->
            <!--<input class="form-control" type="text" [formControl]="education">-->
          <!--</span>-->
        <!--</p>-->
        <div style="margin-top: 10px;" *ngIf="education.value || editable">
          <span class="tittle">Образование:</span>
          <div class="dropper-dawn">
            <button (click)="EdClick()" class="btn-left-sidebar" [ngClass] = "{'active-btn': showDropdawnB && editable}">
              <span>{{ selectedEducation }}</span>
              <i class="fa fa-angle-down"></i>
              <div *ngIf = "showDropdawnB && editable" class="dropdawn-btn">
                <ul>
                  <li *ngFor="let education of educationList;let i = index" (click)="selectEducation(education)"><a>{{ education }}</a></li>
                </ul>
              </div>
            </button>
          </div>
        </div>
        <div *ngIf="skillsList.length || editable" class="skills col-md-12">
          <div class="row">
            <div class="col-md-3" style="width: 11%">
              <span style=";width: 100%;padding: 0;padding-top: 22px">Навыки:</span>
            </div>
            <div class="col-md-9" style="padding-top: 10px;">
              <div class="checkbox-wrapper col-md-12">Программист <input type="checkbox" [disabled]="!editable" [(ngModel)]="hasProg" (ngModelChange)="saverange($event, 'Программист')"></div>
              <div class="checkbox-wrapper col-md-12">Дизайнер <input type="checkbox" [disabled]="!editable" [(ngModel)]="hasDesg" (ngModelChange)="saverange($event, 'Дизайнер')"></div>
              <div class="checkbox-wrapper col-md-12">Артист <input type="checkbox" [disabled]="!editable" [(ngModel)]="hasArt" (ngModelChange)="saverange($event, 'Артист')"></div>
              <!--<input *ngIf="editable" type="text" class="form-control" (keyup.enter)="addSkill()"  placeholder="Add your skill..." [formControl]="skills" >-->
            </div>
          </div>

          <!--<ol>-->
            <!--<li *ngFor="let skill of skillsList;let i = index">-->
              <!--{{ skill }}-->
              <!--<i *ngIf="editable" class="fa fa-times-circle" (click)="deleteSkill(i)" aria-hidden="true"></i>-->
            <!--</li>-->
          <!--</ol>-->
          <!--<button *ngIf="editable" (click)="addSkill()">Add skill</button>-->
        </div>
      </div>
      <div class="col-md-12 controls">
        <button *ngIf="!editable" (click)="edit()">Edit Profile</button>
        <button *ngIf="editable" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
