.wrapper
  padding: 30px
  border-bottom: 2px solid #E3E3E5
  .info
    padding-left: 50px
    p, .skills
      span
        display: block
        &:first-child
          font-weight: bold

  .controls
    margin-top: 50px
    button
      width: 200px
      text-align: center
      padding: 20px
      outline: none
      background-color: #0c86f9
      color: white
.form-control
  width: 20%
  margin-left: 5px
  display: inline-block
.skills
  i
    cursor: pointer
  ol
    padding-left: 22px
  input
    margin: 15px 0

