<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 wrapper">
      <div class="col-md-2">
        <img src="../../../assets/avatar.png" alt="">
      </div>
      <div class="col-md-10 info">
        <p>
          <span>Имя компании:</span>
          <span>FeDex</span>
        </p>
        <p>
          <span>Дата рождения:</span>
          <span>30.05.1990</span>
        </p>
        <p>
          <span>Страна:</span>
          <span>Украина</span>
        </p>
        <p>
          <span>Образование:</span>
          <span>Высщие техническое</span>
        </p>
        <p>
          <span>Навыки:</span>
          <span>Навык,Навык2,Навык3,Навык4</span>
        </p>
      </div>
    </div>
  </div>
</div>
