<div class="col-md-9 wrapper">
  <div class="col-md-12 header">
    <div class="dropdawn-wrap">
      <button (click)="showDropdawn = !showDropdawn" class="btn-left-sidebar" [ngClass] = "{'active-btn': showDropdawn}">
         <span>
            <span>
                {{label}}
              </span>
              <span>
                ({{advertsObj.length}})
              </span>
         </span>
         <i class="fa fa-angle-down"></i>
       </button>
       <div *ngIf = "showDropdawn" class="dropdawn-btn">
          <ul>
            <li (click)="advertsObj = adverts;showDropdawn = false;label = 'Все вакансии за сегодня'">Все вакансии за сегодня
              <span>
                ({{adverts.length}})
              </span>
            </li>
            <li (click)="advertsObj = today;showDropdawn = false;label = 'Все вакансии за сегодня'">Все вакансии за сегодня
              <span>
                ({{today.length}})
              </span>
            </li>
            <li (click)="advertsObj = thisMonth;showDropdawn = false;label = 'Все вакансии за месяц'">Все вакансии за месяц
              <span>
                ({{thisMonth.length}})
              </span>
            </li>
            <li>Все выполненые заказы
              <span>
                (0)
              </span>
            </li>
            <li>Фриланс
              <span>
                (0)
              </span>
            </li>
          </ul>
      </div>
   </div>
  </div>
    <div class="col-md-12 wrapper-body">
      <div class="row">
        <app-item-vacans *ngFor="let advert of advertsObj" [advert]="advert" [profile]="profile"></app-item-vacans>
      </div>
    </div>
</div>
