<div class="col-md-3 wrapper">
  <div class="row">
    <div class="col-md-12 header-photo">
      <img src="../../../../assets/avatar.png" alt="Avatar">
    </div>
    <div class="col-md-12 info">
      <p>Sergey</p>
      <p><span>Страна:</span> Украина</p>
      <p><span>Возрвст:</span> 29</p>
      <p><span>Образование:</span> Высшее</p>
      <p><span>О себе:</span> Строитель со стажем</p>
    </div>
    <div class="col-md-12 vacans">
      SELECTED: {{ selected}}
      <img src="../../../../assets/images.jpeg" alt="">
      <p>Есть потребность в сварщике высшего уровня!Жильем - обеспечим</p>
    </div>
  </div>
</div>
