<div class="col-md-3 wrapper" *ngIf="selectedItem">
  <div class="row">
    <div class="col-md-12 header-photo">
      <img  *ngIf="!selectedItem.another_user.avatar_url" src="../../../../assets/avatar.png" alt="Avatar">
      <img  *ngIf="selectedItem.another_user.avatar_url" [src]="selectedItem.another_user.avatar_url" alt="Avatar">
    </div>
    <div class="col-md-12 info">
      <p>{{ selectedItem.another_user.name }} </p>
      <div class="call-wrap">
        <button>
            <i class="fa fa-phone"></i>
        </button>
        <span>
          23:23
        </span>
      </div>
      <div class="age-country-line">
          <p *ngIf="selectedItem.another_user.birth_date" style="margin-right: 40px;" class="age"><span>Возраст</span> {{ calculateAge(selectedItem.another_user.birth_date) }}</p>
          <p *ngIf="selectedItem.another_user.country"><span>Страна</span> {{ selectedItem.another_user.country }}</p>
      </div>
      <p *ngIf="selectedItem.another_user.education"><span>Образование</span> {{ selectedItem.another_user.education }}</p>
      <p><span>О себе:</span> 
        <!-- {{ users[selectedItem].aboutme }} -->
        {{selectedItem.answers[0].advert.description}}
      </p>
    </div>
    <div class="col-md-12 vacans">
      <h5>Вакансия:</h5>
      <img src="../../../../assets/images.jpeg" alt="">
      <!-- <p>{{selectedItem.answers[0].advert.description}}</p> -->
    </div>
  </div>
</div>
