.wrapper
  background-color: #F0F1F1
  height: calc(100vh - 91px)
  max-height: calc(100vh - 91px)
  overflow-y: scroll
  .header-photo
    border-bottom: 2px solid #E3E3E5
    img
      width: 100%
      height: 200px
      margin-top: 10px
      padding: 10px 0
  .info
    margin-top: 40px
    img
      padding: 10px 0
      border-bottom: 2px solid #E3E3E5
    p
      &:first-child
        font-size: 16px
        font-weight: bold
    p
      span
        font-weight: bold
  .vacans
    img
      width: 50%
