<div class="col-md-3 wrapper">
  <div class="row">
    <div class="col-md-12 header-photo">
      <img [src]="users[selectedItem].avatarUrl" alt="Avatar">
    </div>
    <div class="col-md-12 info">
      <p>{{ users[selectedItem].name }} {{ users[selectedItem].surname }} </p>
      <p><span>Страна:</span> {{ users[selectedItem].country }}</p>
      <p><span>Возрвст:</span> {{ users[selectedItem].age }}</p>
      <p><span>Образование:</span> {{ users[selectedItem].education }}</p>
      <p><span>О себе:</span> {{ users[selectedItem].aboutme }}</p>
    </div>
    <div class="col-md-12 vacans">
      <h5>Вакансия:</h5>
      <img src="../../../../assets/images.jpeg" alt="">
      <p>Есть потребность в сварщике высшего уровня!Жильем - обеспечим</p>
    </div>
  </div>
</div>
