<div class="col-md-4 header">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <img *ngIf="profile && !profile.avatar_url" src="../../../../assets/avatar.png" alt="">
          <img *ngIf="profile && profile.avatar_url" class="avatar" [src]="profile.avatar_url" alt="">
        </div>
        <div class="col-md-9" style="padding: 10px;">
          <p>
            <span style="font-weight: bold">{{profile.name}}</span>
            разместил вакансию от компании
          </p>
        </div>
        <div class="col-md-12 status">
          <p>
            <!--<i class="fa fa-minus-circle" style="color: red" aria-hidden="true"></i>-->
            <!--Вакансия снята-->
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            Активная вакансия
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 vacans">
          <img src="../../../../../assets/vacans.jpeg" alt="vacans">
          <p style="padding: 10px;">{{advert.advert.description}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 location">
          <p>
            <i class="fa fa-hashtag" aria-hidden="true"></i>
            <input type="text" placeholder="Введите хеш-теги..." [(ngModel)]='teg'>
          </p>
          <p>
            <i class="fa fa-map-marker" style="margin-right: 14px;" aria-hidden="true"></i>
            <input type="text" placeholder="Введите локацию..." [(ngModel)]='advert.location'>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 statistic">
          <div class="row">
            <div class="col-md-6">
              <span style="padding-top: 10px;" class="col-md-6">{{advert.answers_number}}</span>
              <span class="col-md-6">Просмотра вакансии</span>
            </div>
            <div class="col-md-6" style="padding-top: 10px;">
              <span class="col-md-6">{{advert.answers_number}}</span>
              <span class="col-md-6">Чата</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 controls">
          <!--<button (click)="remove()">Убрать</button>-->
          <!--<button>Поднять в топ</button>-->
          <button>Закрыть вакансию</button>
          <!--<button style="background-color: #f83c7b">Удалить</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
