<div class="col-md-6 header">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <img *ngIf="profile && !profile.avatar_url" src="../../../../assets/avatar.png" alt="">
          <img *ngIf="profile && profile.avatar_url" class="avatar" [src]="profile.avatar_url" alt="">
        </div>
        <div class="col-md-10" style="padding: 10px;">
          <p>
            <span style="font-weight: bold">{{profile.name}}</span>
            разместил вакансию от компании
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 vacans">
          <img src="../../../../assets/images.jpeg" alt="">
          <p>{{advert.advert.description}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 location">
          <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {{advert.advert.location}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 statistic">
          <div class="row">
            <div class="col-md-6">
              <span>Просмотров вакансии:</span>
              <span>1500</span>
            </div>
            <div class="col-md-6">
              <span>Кол-во чатов:</span>
              <span>34</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 controls">
          <button (click)="remove()">Убрать</button>
          <button>Поднять в топ</button>
        </div>
      </div>
    </div>
  </div>
</div>
