<div class="col-md-3 wrapper">
  <div class="row">
    <div class="col-md-12 header">
      <select>
        <option>Пункт 1</option>
        <option>Пункт 2</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 body">
      <div class="row wrapper-msg" *ngFor="let user of users;let i = index" (click)="selectItem(i)" (click)="newSelectedItem()"  [class.active]="i == selectedItem" >
        <div class="col-md-2 photo">
          <span class="avatar">
            <img [src]="user.avatarUrl" alt="Avatar">
          </span>
        </div>
        <div class="col-md-10">
          <p>{{ user.name }} {{ user.surname }} <span class="pull-right">{{ user.time }}</span></p>
          <p>{{ user.country }}, {{ user.age }} age </p>

          <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis">
            <span class="msg-status">
              <i class="fa fa-check" aria-hidden="true"></i>
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </span>
            {{ user.lastMessage }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
