<div class="col-md-3 wrapper">
  <div class="row">
    <div class="col-md-12 header">
      <div class="dropdawn-wrap">
         <button (click)="showDropdawnLeft = !showDropdawnLeft" class="btn-left-sidebar" [ngClass] = "{'active-btn': showDropdawnLeft}">
            <span>
              {{lable}}
            </span>
            <i class="fa fa-angle-down"></i>
          </button>
          <div *ngIf = "showDropdawnLeft" class="dropdawn-btn">
              <ul>
                <li (click)="sortBy('all'); lable = 'Все';showDropdawnLeft = false;sortNmae = 'all'"><a>Все</a></li>
                <li *ngFor="let item of keys" (click)="sortBy(item); lable = item;showDropdawnLeft = false;sortNmae = item"><a *ngIf="item">{{item}}</a></li>
              </ul>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 body">
      <div *ngIf="usersCopy">
      <div class="row wrapper-msg" *ngFor="let obj of usersCopy;let i = index" (click)="newSelectedItem(obj)"  [class.active]="selectedItem.answers && obj.answers && obj.answers[0].answer_id === selectedItem.answers[0].answer_id" >
        <div class="col-md-2 photo">
          <span class="avatar">
            <img *ngIf="obj.another_user && obj.another_user.avatar_url" [src]="obj.another_user.avatar_url" alt="Avatar">
            <img *ngIf="obj.another_user && !obj.another_user.avatar_url" src="./assets/avatar.png" alt="Avatar">
          </span>
        </div>
        <div *ngIf="obj.another_user" class="col-md-10" style="margin-top: 10px;">

          <p class="name-head">{{ obj.another_user.name }}
            <span *ngIf = "obj.last_message && !today(obj.last_message.chat_message.time)" class="pull-right date-clock">
              {{ obj.last_message.chat_message.time  |date:'MM/dd/yy h:mm' }}
            </span>
            <span *ngIf = "obj.last_message && today(obj.last_message.chat_message.time)" class="pull-right date-clock">
              {{ obj.last_message.chat_message.time  |date:'h:mm' }}
            </span>
            <span *ngIf = "!obj.last_message && obj.answers[0].answer.open_time && !today(obj.answers[0].answer.open_time)" class="pull-right date-clock">
              {{ obj.answers[0].answer.open_time  |date:'MM/dd/yy h:mm' }}
            </span>
            <span *ngIf = "!obj.last_message && obj.answers[0].answer.open_time && today(obj.answers[0].answer.open_time)" class="pull-right date-clock">
              {{ obj.answers[0].answer.open_time  |date:'h:mm' }}
            </span>
          </p>
          <div class="star-wrap">
              <p class="from-age">{{ obj.another_user.country }}, {{ calculateAge(obj.another_user.birth_date) }} age </p>
             <div class="star-wrap-inside">
                <div>
                    <!-- <i class="material-icons">star_border</i> -->
                    <i class="material-icons">star</i>
                 </div>
                 <div>
                    <i class="material-icons">star_border</i>
                    <!-- <i class="material-icons">star</i> -->
                 </div>
                 <div>
                    <i class="material-icons">star_border</i>
                    <!-- <i class="material-icons">star</i> -->
                 </div>
                 <div>
                    <i class="material-icons">star_border</i>
                    <!-- <i class="material-icons">star</i> -->
                 </div>
                 <div>
                    <i class="material-icons">star_border</i>
                    <!-- <i class="material-icons">star</i> -->
                 </div>
             </div>
          </div>

          <p *ngIf='obj.last_message' style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; width: 90px;">
            {{ obj.last_message.chat_message.text }}
          </p>
          <p *ngIf='!obj.last_message && obj.answers[0].answer.description' style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; width: 90px;">
            {{ obj.answers[0].answer.description }}
          </p>
        </div>
      </div>
    </div>
      <div>
        <!--<div *ngIf="users.length === 0">-->
      <div  *ngFor="let obj of epty" class="row empty-msg">
        <div class="col-md-2">
          <span class="avatar">

          </span>
        </div>
        <div class="col-md-10 body">
          <span></span> <span></span>
          <p></p>
          <p style="margin: 0;"></p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
