.wrapper
  border-right: 2px solid #E3E3E5
  height: calc(100vh - 81px)
  max-height: calc(100vh - 81px)
  overflow: scroll
  .header
    border-bottom: 2px solid #E3E3E5
    padding: 10px
    background-color: #F0F1F1
  select
    width: 100%
    height: 35px
    outline: none
    background-color: white
  .body
    .avatar
      display: block
      img
        height: 30px
        width: 30px
        border-radius: 50%


  .wrapper-msg
    padding: 10px 0
    border-bottom: 1px solid #E3E3E5
    background-color: #F0F1F1
    p
      &:first-child
        font-weight: bold
        font-size: 16px
        span
          font-weight: normal
          font-size: 14px



.active
  background-color: yellow!important
