<div class="container-fluid wrapper">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-1" style="padding-right:0;">
        <img src="./assets/logo.png" alt="logo" style=" width: 68px;margin-top: 10px;">
      </div>
      <div class="col-md-9" style="padding-left:0;">
        <ul>
          <li style="margin-left:0;" routerLink="/chat" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Чаты</li>
          <li routerLink="/vacans" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Вакансии</li>
          <li routerLink="/profile" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">О компании</li>
        </ul>
      </div>
      <div class="col-md-2">
        <div *ngIf="showLogOut" (click)="logOut()"> LogOut</div>
        <span class="avatar" (click)="showLogOut = !showLogOut">
          <img *ngIf="profile && !profile.avatar_url" class="avatar" src="./assets/avatar.png" alt="">
          <img *ngIf="profile && profile.avatar_url" class="avatar" [src]="profile.avatar_url" alt="">
        </span>
      </div>
    </div>
  </div>
</div>
