<div class="container-fluid wrapper">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-1" style="padding-right:0;">
        <img src="./assets/logo.png" alt="logo" style=" width: 68px;margin-top: 10px;">
      </div>
      <div class="col-md-9" style="padding-left:0;">
        <ul>
          <li style="margin-left:0;" routerLink="/chat" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Чаты</li>
          <li routerLink="/vacans" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Вакансии</li>
          <li routerLink="/profile" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">О компании</li>
        </ul>
      </div>
      <div class="col-md-2" style="position: relative;">
        <div *ngIf="showLogOut"></div>
        <div class="log-out"  (click)="logOut()" [ngClass] = "{'log-out-style': showLogOut}">Выйти</div>
        <span class="avatar" (click)="showLogOut = !showLogOut">
          <img *ngIf="profile && !profile.avatar_url" class="avatar" src="./assets/avatar.png" alt="">
          <img style="box-shadow: -2px 1px 3px 0px rgba(0,0,0,0.75)" *ngIf="profile && profile.avatar_url" class="avatar" [src]="profile.avatar_url" alt="">
        </span>
      </div>
    </div>
  </div>
</div>
