.wrapper
  background-color: #fff
  padding: 15px 0
  border-bottom: 1px solid gainsboro
  ul
    margin: 0
    padding: 0
    li
      display: inline-block
      margin: 13px 20px
      font-size: 16px
      font-weight: bold
      cursor: pointer
      padding: 5px 20px
  .avatar
    display: block
    height: 50px
    width: 50px
    border-radius: 50%
    background-image: url(../../../assets/avatar.png)
    background-size: cover

.active-link
  border-bottom: 2px solid #0c86f9
