.wrapper
  background-color: #0e1a35
  border-bottom: 1px solid gainsboro
  ul
    margin: 0
    padding: 0
    li
      display: inline-block
      margin: 23px 0px 0 20px
      font-size: 16px
      cursor: pointer
      padding: 5px 20px 23px 20px
      color: white
      text-align: center
      outline: none
  .avatar
    display: block
    height: 50px
    width: 50px
    border-radius: 50%
    //background-image: url(../../../assets/avatar.png)
    background-size: cover
    float: right
    margin-right: 30px
    margin-top: 6px
    z-index: 1
    position: absolute
    right: -21px
    
//
//    margin-right: 5px
//    margin-top: 7px


.active-link
  border-bottom: 4px solid #5584ff
.log-out-style
  width: 144px !important
  padding-right: 19px !important
  
.log-out
  background: rgba(248, 60, 123, 1)
  position: absolute
  top: 14px
  height: 47px
  width: 0px
  color: white
  font-size: 13px
  padding-top: 15px
  text-align: center
  padding-right: 0px
  border-radius: 50px
  right: 32px
  cursor: pointer
  transition: all 0.3s
  overflow: hidden
