<div class="col-md-6 wrapper">
  <div class="row">
    <div class="col-md-12 header">
      <span>Чат с Сергеем</span>
      <select class="pull-right">
        <option>Переводить на польский</option>
        <option>Переводить на русский</option>
        <option>Переводить на английский</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 body-chat">
      <div class="row">
        <div class="col-md-12 msg-to-you">
          <div class="col-md-1">
            <span class="avatar">
              <img src="../../../../assets/images.jpeg" alt="Avatar">
            </span>
          </div>
          <div class="col-md-11">
            <p>Привет!! Как дела?Пойдешь работать?</p>
          </div>
        </div>
        <div class="col-md-12 my-msg">
          <div class="col-md-10">
            <p>Привет! Все окей ! Вылетаю!</p>
          </div>
          <div class="col-md-2">
            <span class="avatar">
              <img src="../../../../assets/avatar.png" alt="Avatar">
            </span>
          </div>
        </div>
        <div class="col-md-12 msg-to-you">
          <div class="col-md-1">
            <span class="avatar">
              <img src="../../../../assets/images.jpeg" alt="Avatar">
            </span>
          </div>
          <div class="col-md-11">
            <p>Привет!! Как дела?Пойдешь работать?</p>
          </div>
        </div>
        <div class="col-md-12 my-msg">
          <div class="col-md-10">
            <p>Привет! Все окей ! Вылетаю!</p>
          </div>
          <div class="col-md-2">
            <span class="avatar">
              <img src="../../../../assets/avatar.png" alt="Avatar">
            </span>
          </div>
        </div>
        <div class="col-md-12 msg-to-you">
          <div class="col-md-1">
            <span class="avatar">
              <img src="../../../../assets/images.jpeg" alt="Avatar">
            </span>
          </div>
          <div class="col-md-11">
            <p>Привет!! Как дела?Пойдешь работать?</p>
          </div>
        </div>
        <div class="col-md-12 my-msg">
          <div class="col-md-10">
            <p>Привет! Все окей ! Вылетаю!</p>
          </div>
          <div class="col-md-2">
            <span class="avatar">
              <img src="../../../../assets/avatar.png" alt="Avatar">
            </span>
          </div>
        </div>
        <div class="col-md-12 msg-to-you">
          <div class="col-md-1">
            <span class="avatar">
              <img src="../../../../assets/images.jpeg" alt="Avatar">
            </span>
          </div>
          <div class="col-md-11">
            <p>Привет!! Как дела?Пойдешь работать?</p>
          </div>
        </div>
        <div class="col-md-12 my-msg">
          <div class="col-md-10">
            <p>Привет! Все окей ! Вылетаю!</p>
          </div>
          <div class="col-md-2">
            <span class="avatar">
              <img src="../../../../assets/avatar.png" alt="Avatar">
            </span>
          </div>
        </div>
        <div class="col-md-12 msg-to-you">
          <div class="col-md-1">
            <span class="avatar">
              <img src="../../../../assets/images.jpeg" alt="Avatar">
            </span>
          </div>
          <div class="col-md-11">
            <p>Привет!! Как дела?Пойдешь работать?</p>
          </div>
        </div>
        <div class="col-md-12 my-msg">
          <div class="col-md-10">
            <p>Привет! Все окей ! Вылетаю!</p>
          </div>
          <div class="col-md-2">
            <span class="avatar">
              <img src="../../../../assets/avatar.png" alt="Avatar">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 chat-controls">
      <input placeholder="Введите текст..." type="text">
      <button>Отправить</button>
      <p>Приежайте на роботу!</p>
      <p>Сдесь можно посмотреть информацию о факультете!</p>
      <p>Могу отправить информацию позже</p>
      <p>Могу отправить информацию позже</p>
    </div>
  </div>
</div>
