.wrapper
  border-right: 2px solid #E3E3E5
  height: calc(100vh - 91px)
  max-height: calc(100vh - 91px)
  overflow-y: scroll
  overflow-y: hidden
  .body-chat
    background-color: #F0F1F1
    height: 50vh
    max-height: 50vh
    overflow-y: scroll
    padding: 20px 0
    overflow-x: hidden
    .avatar
      padding-top: 4px
      display: block
      img
        height: 30px
        width: 30px
        border-radius: 50%
    .msg-to-you
      margin-bottom: 15px
      p
        background-color: #0c86f9
        padding: 10px
        border-radius: 5px
        color: white
    .my-msg
      margin-bottom: 15px
      p
        background-color: white
        padding: 10px
        border-radius: 5px
  .header
    border-bottom: 2px solid #E3E3E5
    padding: 10px
    background-color: #F0F1F1
    span
      margin-top: 6px
      display: inline-block
      margin-left: 20px
  select
    width: 60%
    height: 35px
    outline: none
    background-color: white
  .chat-controls
    border-top: 2px solid #E3E3E5
    padding: 0
    padding-top: 5px
    p
      border-bottom: 2px solid #E3E3E5
      padding: 7px
      margin-bottom: 0
      &:hover
        cursor: pointer
        background-color: #F0F1F1
    input
      width: 85%
      height: 50px
      padding: 0 15px
    button
      height: 50px
      background-color: #F0F1F1
      outline: none
.read-more
  text-align: center
  button
    margin-top: 10px
    outline: none
