<div class="col-md-6 wrapper"  *ngIf="selectedItem">
  <div class="row">
    <div class="col-md-12 header">
      <span class="contact">Чат с {{selectedItem.another_user.name }}</span>
      <span class="online-status">
        <i class="fa fa-circle" aria-hidden="true"></i>
        В сети
      </span>
      <div class="dropdawn-wrap pull-right">
          <button (click)="showDropdawn = !showDropdawn" class="btn-left-sidebar" [ngClass] = "{'active-btn': showDropdawn}">
            <span style="margin: 0; margin-top: 4px;">
              Вакансии ХХХХ              
            </span>
            <i class="fa fa-angle-down"></i>
          </button>
          <div *ngIf = "showDropdawn" class="dropdawn-btn">
              <ul>
                <li><a href="">Переводить на польский</a></li>
                <li><a href="">Переводить на русский</a></li>
                <li><a href="">Переводить на английский</a></li>
              </ul>
          </div>
      </div>
      <!-- <select class="pull-right">
        <option>Переводить на польский</option>
        <option>Переводить на русский</option>
        <option>Переводить на английский</option>
      </select> -->
    </div>
  </div>
  <div class="row wrapper-chat">
    <div class="col-md-12 body-chat">
      <!-- <div class="">
        <div class="col-md-12 my-msg">
          <div class="col-md-1"> -->
      <div class="row">
        <div *ngFor="let item of chatMessages" class="col-md-12 " [ngClass]="{'my-msg': item.author_id === profile.user_id, 'msg-to-you': item.author_id !== profile.user_id}">
          <div *ngIf="item.author_id === profile.user_id" class="col-md-1">
            <span class="avatar">

              <img *ngIf="profile.avatar_url" [src]="profile.avatar_url" alt="Avatar">
              <img *ngIf="!profile.avatar_url" src="../../../../assets/images.jpeg" alt="Avatar">
            </span>
          </div>
          <div class="col-md-11" [ngClass]="{'col-md-6': item.author_id !== profile.user_id, 'col-md-offset-5': item.author_id !== profile.user_id}">
            <p>{{item.chat_message.text}}</p>
          </div>
          <div *ngIf="item.author_id !== profile.user_id" class="col-md-1">
            <span class="avatar">
              <img *ngIf="selectedItem && selectedItem.another_user.avatar_url" src="selectedItem.another_user.avatar_url" alt="Avatar">
              <img *ngIf="selectedItem && !selectedItem.another_user.avatar_url" src="../../../../assets/avatar.png" alt="Avatar">
            </span>
          </div>
        </div>
        <div class="col-md-12 msg-to-you ">
          <div class="col-md-6 col-md-offset-5">
            <p>Привет! Все окей ! Вылетаю!</p>
            <span class="pull-right">Прочитано</span>
          </div>
          <div class="col-md-1">
            <span class="avatar">
              <img src="../../../../assets/avatar.png" alt="Avatar">
            </span>
          </div>
        <!--<div class="col-md-12 msg-to-you">-->
          <!--<div class="col-md-1">-->
            <!--<span class="avatar">-->
              <!--<img src="../../../../assets/images.jpeg" alt="Avatar">-->
            <!--</span>-->
          <!--</div>-->
          <!--<div class="col-md-11">-->
            <!--<p>Привет!! Как дела?Пойдешь работать?</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-12 my-msg">-->
          <!--<div class="col-md-10">-->
            <!--<p>Привет! Все окей ! Вылетаю!</p>-->
          <!--</div>-->
          <!--<div class="col-md-2">-->
            <!--<span class="avatar">-->
              <!--<img src="../../../../assets/avatar.png" alt="Avatar">-->
            <!--</span>-->
          <!--</div>-->
        <!--</div>-->
        <div class="col-md-12 my-msg" *ngIf="chatMessages.length < total_number_of_messages">
          <div class="col-md-12 read-more">
            <button (click)="readMore()" class="btn btn-default btn-more">
              Read more
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-12 chat-controls">
      <!-- <i class="fa fa-question-circle" aria-hidden="true"></i> -->
      <i class="fa fa-comments" aria-hidden="true"></i>
      <span>Сергей печатает...</span>
      <input placeholder="Введите текст..." type="text">
    </div>
  </div>
</div>
