<div class="col-md-9 wrapper">
  <img src="./assets/long-arr.png" alt="arrow">
  <p>Скорее добавляйте вашу первую вакансию прямо сейчас</p>
  <ul>
    <li>
      <i class="fa fa-check" aria-hidden="true"></i>
      <span>Вакансия мгновенно попадает ко всем претендентам</span>
    </li>
    <li>
      <i class="fa fa-check" aria-hidden="true"></i>
      <span>Вы всегда сможете закрыть вакансию</span>
    </li>
    <li>
      <i class="fa fa-check" aria-hidden="true"></i>
      <span>Публикация вакансий будет сделана бесплатно</span>
    </li>
  </ul>

</div>
