.wrapper
  text-align: center
  background-color: #f6f7fa
  height: calc(100vh - 78px)
  padding: 0 330px
  img
    position: absolute
    left: 120px
    width: 360px
    top: 121px
  p
    &:nth-child(2)
      font-size: 25px
      font-weight: bold
      margin-top: 200px
      margin-bottom: 35px
  ul
    list-style: none
    text-align: left
    padding: 0 60px
    li
      font-weight: bold
      margin-bottom: 20px
      height: 50px
      i
        display: block
        float: left
        width: 12%
        font-size: 25px
        font-weight: normal
      span
        display: block
        float: left
        width: 88%
